<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<appSettings>
<add key = 'DataProvider' value = 'MySql.Data.MySqlClient' />
<add key = 'DataProvider' value = 'System.Data.SqlClient' />
<add key = 'ConnectionStringName' value = 'SqlServer_Teste' />
</appSettings>
<connectionStrings>
<add name = 'SqlServer_Teste' connectionString = 'Server=localhost;Database=PizzariaDB_Teste;User Id=sa; Password=Password_123'  providerName = 'System.Data.SqlClient' />
<add name = 'MySql_Teste' connectionString = 'Server=localhost;Database=pizzariadb_teste;Uid=root;Pwd=P@ssw0rd;Connect Timeout=30;' providerName = 'MySql.Data.MySqlClient' />
</connectionStrings>
</configuration>
