<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DataProvider" value="MySql.Data.MySqlClient" />
    <add key="DataProvider" value="System.Data.SqlClient" />
    <add key="ConnectionStringName" value="SqlServer" />
  </appSettings>
  <connectionStrings>
    <add name="SqlServer" connectionString="Server=localhost;Database=SALAO_DATABASE;User Id=sa;Password=p@ssw0rd" providerName="System.Data.SqlClient" />
    <add name="MySql" connectionString="Server=localhost;Database=SALAO_DATABASE;Uid=sa;Pwd=p@ssw0rd;Connect Timeout=30;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>